body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* CABECERA */
.header {
  background: #003366;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

/* LOGOS GRANDES */
.logo {
  height: 100px;
}

/* TEXTO */
.titulo {
  text-align: center;
}

.titulo h1 {
  margin: 0;
  font-size: 36px;
}

.titulo p {
  margin: 0;
  font-size: 18px;
}

/* MENÚ */
nav {
  background: #0055aa;
  text-align: center;
}

nav a {
  color: white;
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background: #0077cc;
}

/* IMAGEN PRINCIPAL */
.hero {
  background-image: url("brush.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TEXTO SOBRE IMAGEN */
.texto-hero {
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}

/* CONTENIDO */
section {
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

/* FOOTER */
footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 15px;
}
``