body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f9;
}

/* CABECERA */
.header {
  background: #2e6fb8;   /* azul claro */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 25px;
}

/* LOGO IZQUIERDO GRANDE */
.logo-izq {
  height: 150px;
}

/* LOGO DERECHO */
.logo-der {
  height: 100px;
}

/* TEXTO CENTRAL */
.titulo {
  text-align: center;
}

.titulo h1 {
  margin: 0;
  font-size: 40px;
}

.titulo p {
  margin: 0;
  font-size: 20px;
}

/* MENÚ */
nav {
  background: #3f82d4;
  text-align: center;
}

nav a {
  color: white;
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background: #5a9be6;
}

/* IMAGEN PRINCIPAL FONDO */
.hero {
  background-image: url("brush.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TEXTO SOBRE IMAGEN */
.texto-hero {
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
}

/* SECCIONES CENTRADAS */
.contenido {
  max-width: 900px;
