body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f9;
}

/* CABECERA */
.header {
  background: #003366;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 25px;
}

/* LOGOS MUY GRANDES */
.logo {
  height: 110px;
}

/* TEXTO CENTRAL */
.titulo {
  text-align: center;
}

.titulo h1 {
  margin: 0;
  font-size: 40px;
}

.titulo p {
  margin: 0;
  font-size: 20px;
}

/* MENU */
nav {
  background: #0055aa;
  text-align: center;
}

nav a {
  color: white;
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background: #0077cc;
}

/* IMAGEN COMO FONDO */
.hero {
  background: url("brush.jpeg") no-repeat center center;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TEXTO SOBRE IMAGEN */
.texto-hero {
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 15px 20px;
}

/* CONTENIDO */
section {
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

/* PIE */
footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 15px;
}
